.main-wrapper {
  margin: 0 30px;
  @media (max-width: 1215px) {
    margin: 0 15px;
  }
  @media (max-width: $screen-desktop) {
    margin: 0;
  }
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 28px;
    background-color: $clr-white;
    @media (max-width: 1215px) {
      height: 15px;
    }
    @media (max-width: $screen-desktop) {
      display: none;
    }
  }
}

.wrapper {
  width: 1096px;
  margin: 0 auto;
  @media (max-width: $screen-desktop) {
    width: 964px;
  }
  @media (max-width: $screen-tablet) {
    width: auto;
    margin: 0;
    padding: 0 20px;
  }
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 2.08;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: $clr-black;
  margin-bottom: 52px !important;
  @media (max-width: $screen-tablet) {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.7px;
    padding-left: 15px;
    position: relative;
    margin-bottom: 39px !important;
    &.wrapper {
      padding-left: 35px;
      &:before {
        left: 0;
      }
    }
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 79px;
    height: 4px;
    margin-top: 29px;
    background-color: $clr-beige-two;
    @media (max-width: 1299px) {
      width: 35px;
    }
    @media (max-width: $screen-desktop) {
      width: 20px;
    }
    @media (max-width: $screen-tablet) {
      width: 20px;
      margin: 0;
      top: 12px;
      left: -20px;
    }
  }
}

h3.subtitle {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.6px;
  text-align: center;
  color: #e3e3e3;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.btn {
  display: inline-block;
  min-width: 200px;
  height: 60px;
  padding: 0 20px;
  background-image: linear-gradient(107deg, #d62c3b, #9f041b);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  font-size: 15px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: 1.7px;
  color: $clr-white-two;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  &.btn-white {
    background: $clr-white-two;
    color: $clr-denim;
    box-shadow: none;
  }
  &.btn-mini {
    min-width: 118px;
    height: 32px;
    padding: 0 10px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
    font-size: 11px;
    line-height: 32px;
    font-weight: bold;
    letter-spacing: 1.1px;
    @media (max-width: $screen-tablet) {
      height: 30px;
      line-height: 30px;
    }
  }
}

.view-more {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.85;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: $clr-pinkish-grey;
  position: relative;
  &:after {
    content: '';
    display: inline-block;
    margin-left: 10px;
    width: 15px;
    height: 2px;
    background-color: $clr-rouge;
  }
}

.inner-cont-wrapper {
  padding-top: 65px;
  padding-bottom: 100px;
  @media (max-width: $screen-tablet) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.tabs {
  font-size: 0;
  border-bottom: 1px #ececec solid;
  @media (max-width: $screen-tablet) {
    margin-top: -12px;
  }
  @media (max-width: $screen-mobile-sm) and (orientation: portrait) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: -12px 20px 0;
  }
  li {
    display: inline-block;
    padding-right: 52px;
    &:last-child {
      padding-right: 0;
    }
    @media (max-width: $screen-mobile-sm) and (orientation: portrait) {
      padding-right: 0;
    }
  }
  a {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 2.31;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    color: $clr-denim;
    padding-bottom: 1px;
    margin-bottom: -2px;
    border-bottom: 3px transparent solid;
    &.active {
      border-bottom-color: $clr-rouge;
      color: $clr-font;
      cursor: default;
      pointer-events: none;
    }
  }
}

.tab-cont {
  position: relative;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  &.active {
    visibility: visible;
    overflow: visible;
    height: auto;
  }
}

.filters-block {
  display: flex;
  background-color: $clr-white;
  @media (max-width: $screen-tablet) {
    justify-content: center;
    padding: 4px 0 70px;
  }
  @media (max-width: $screen-mobile) {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.filter {
  width: 200px;
  font-size: 12px;
  color: $clr-denim;
  margin-left: 40px;
  position: relative;
  &:first-child {
    margin-left: 0;
  }
  @media (max-width: $screen-desktop) {
    width: 184px;
  }
  @media (max-width: $screen-tablet) {
    width: 200px;
  }
  @media (max-width: $screen-mobile) {
    width: 100%;
    margin: 0 0 21px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .filter-el {
    display: flex;
    align-items: center;
    height: 36px;
    border-bottom: 2px #ececec solid;
    position: relative;
    z-index: 100;
    cursor: pointer;
    @media (max-width: $screen-tablet) {
      border-bottom-width: 1px;
    }
    @media (max-width: $screen-mobile) {
      z-index: auto;
    }
    span {
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      flex: 1;
      margin-right: 27px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: none;
    }
    i {
      position: absolute;
      right: 7px;
      bottom: 14px;
      transform: rotate(90deg);
      &:before, &:after {
        content: "";
        display: block;
        width: 6px;
        height: 1px;
        position: absolute;
        bottom: 0;
        margin: auto 0;
        right: 1px;
        box-shadow: inset 0 0 0 12px;
        transform-origin: right;
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
  .filter-dropdown {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-15px);
    position: absolute;
    left: -20px;
    top: -8px;
    width: calc(100% + 40px);
    padding-top: 43px;
    background-color: $clr-white;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    border: 1px #f0f0f0 solid;
    z-index: 99;
    transition: all 0.15s ease-out;
    ul {
      padding-top: 5px;
      max-height: 250px;
      overflow-y: auto;
      @media (max-width: $screen-mobile) {
        max-height: 200px;
      }
      li {
        padding: 10px 20px;
        font-weight: 500;
        line-height: 1.7;
        cursor: pointer;
        &:hover {
          background-color: $clr-white-two;
        }
      }
    }
  }
  &.active {
    .filter-el {
      @media (max-width: $screen-mobile) {
        z-index: 100;
      }
      i {
        transform: rotate(-90deg);
        bottom: 20px;
        right: 6px;
      }
    }
    .filter-dropdown {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
  &.filled {
    .filter-el {
      color: $clr-rouge;
      cursor: default;
      i {
        width: 25px;
        height: 25px;
        cursor: pointer;
        transform: rotate(45deg);
        right: -5px;
        bottom: 5px;
        &:before, &:after {
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          transform-origin: initial;
          width: 13px;
          height: 1px;
          margin: 0;
        }
        &:after {
          width: 1px;
          height: 13px;
        }
      }
    }
  }
}

.form-group {
  position: relative;
  background-color: $clr-white;
  margin-bottom: 30px;
  padding-top: 10px;
  @media (max-width: $screen-mobile) {
    margin-bottom: 22px;
  }
  input, textarea {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px $clr-beige-two solid;
    padding: 0 8px;
    font-family: $font;
    font-size: 15px;
    font-weight: 500;
    background-color: $clr-white;
    color: $clr-font;
    -webkit-appearance: none;
    border-radius: 0;
  }
  textarea {
    display: block;
    height: 307px;
    border: 1px $clr-beige-two solid;
    padding: 17px;
    line-height: 1.5;
    resize: none;
    overflow: auto;
    @media (max-width: $screen-mobile) {
      height: 267px;
    }
  }
  label {
    display: block;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    left: 0;
    top: 16px;
    width: 100%;
    height: 30px;
    padding: 0 8px;
    pointer-events: none;
    user-select: none;
    transition: all .2s ease-out;
  }
  .error-text {
    display: none;
    padding: 8px 8px 0;
    font-size: 11px;
    color: $clr-rouge;
  }
  &.ta-wrapper {
    background-color: transparent;
    label {
      padding: 14px 18px 0;
    }
  }
  &.filled {
    label {
      transform: translateY(-17px);
      font-size: 11px;
      font-weight: normal;
      color: #cccfdd;
    }
  }
  &.error {
    input, textarea {
      border-color: $clr-rouge;
    }
    .error-text {
      display: block;
    }
  }
}