.main-wrapper {
  //width: 1440px;
  margin: 0 30px;
  @media (max-width: 1215px) {
    margin: 0 15px;
  }
  @media (max-width: $screen-desktop) {
    margin: 0;
  }
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 28px;
    background-color: $clr-white;
    @media (max-width: 1215px) {
      height: 15px;
    }
    @media (max-width: $screen-desktop) {
      display: none;
    }
  }
}

.wrapper {
  width: 1096px;
  margin: 0 auto;
  @media (max-width: $screen-desktop) {
    width: 964px;
  }
  @media (max-width: $screen-tablet) {
    width: auto;
    margin: 0;
    padding: 0 20px;
  }
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 2.08;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: $clr-black;
  margin-bottom: 52px !important;
  @media (max-width: $screen-tablet) {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.7px;
    padding-left: 15px;
    position: relative;
    margin-bottom: 39px !important;
    &.wrapper {
      padding-left: 35px;
      &:before {
        left: 0;
      }
    }
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 79px;
    height: 4px;
    margin-top: 29px;
    background-color: $clr-beige-two;
    @media (max-width: 1299px) {
      width: 35px;
    }
    @media (max-width: $screen-desktop) {
      width: 20px;
    }
    @media (max-width: $screen-tablet) {
      width: 20px;
      margin: 0;
      top: 12px;
      left: -20px;
    }
  }
}

.btn {
  display: inline-block;
  min-width: 200px;
  height: 60px;
  padding: 0 20px;
  background-image: linear-gradient(107deg, #d62c3b, #9f041b);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  font-size: 15px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: 1.7px;
  color: $clr-white-two;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  &.btn-white {
    background: $clr-white-two;
    color: $clr-denim;
    box-shadow: none;
  }
}

.view-more {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.85;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: $clr-pinkish-grey;
  position: relative;
  &:after {
    content: '';
    display: inline-block;
    margin-left: 10px;
    width: 15px;
    height: 2px;
    background-color: $clr-rouge;
  }
}

.preload {
  opacity: 0;
  header {
    .logo, nav ul li a {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  .header-block {
    background-size: 120%;
  }
}