.main-wrapper {
  width: 1440px;
  padding: 28px 30px 0;
  margin: 0 auto;
}

.wrapper {
  width: 1094px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 2.08;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: $clr-black;
  margin-bottom: 52px;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: -172px;
    bottom: 16px;
    width: 79px;
    height: 4px;
    background-color: $clr-beige-two;
  }
}

.btn {
  display: block;
  min-width: 200px;
  height: 60px;
  padding: 0 20px;
  background-image: linear-gradient(107deg, #d62c3b, #9f041b);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  font-size: 15px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: 1.7px;
  color: $clr-white-two;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
}