footer {
  margin: 0 -30px;
  font-size: 13px;
  color: $clr-white;
  background: url("../images/pic_footer.png") no-repeat 50% 100% / cover;
  @media (max-width: $screen-tablet) {
    margin: 0;
    font-size: 15px;
  }
  .wrapper {
    display: flex;
    align-items: center;
    min-height: 299px;
    padding: 35px 0;
    @media (max-width: $screen-tablet) {
      flex-direction: column;
      justify-content: center;
      min-height: 417px;
      padding: 30px 40px;
    }
  }
  ul {
    width: 260px;
    margin-right: 72px;
    @media (max-width: $screen-tablet) {
      display: none;
    }
    li {
      margin-bottom: 17px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        font-weight: 600;
        letter-spacing: 1.3px;
        text-transform: uppercase;
        color: $clr-white;
      }
    }
  }
  .col {
    width: 440px;
    @media (max-width: $screen-tablet) {
      width: auto;
    }
    .contact-info {
      font-weight: 800;
      line-height: 2;
      letter-spacing: 1.3px;
      text-transform: uppercase;
      margin-bottom: 28px;
      @media (max-width: $screen-tablet) {
        display: none;
      }
      a {
        color: $clr-white
      }
    }
    .address-info {
      p {
        font-weight: 600;
        line-height: 1.38;
        padding-bottom: 16px;
        @media (max-width: $screen-tablet) {
          line-height: 1.6;
        }
        &:last-child {
          padding-bottom: 0;
        }
        span {
          display: block;
          padding-bottom: 1px;
          font-weight: 300;
        }
      }
    }
  }
}