header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  .wrapper {
    display: flex;
    @media (max-width: $screen-tablet) {
      padding-top: 20px;
      @media (orientation: landscape) {
        padding-top: 10px;
      }
    }
  }
  .logo {
    width: 219px;
    height: 62px;
    margin-top: 50px;
    transition: all 0.5s ease-out 0.7s;
    img {
      width: 100%;
      height: 100%;
      &:last-child {
        display: none;
      }
    }
    @media (max-width: $screen-tablet) {
      width: 175px;
      height: 50px;
      margin-top: 0;
    }
  }
  nav {
    margin-left: auto;
    ul {
      display: flex;
      @media (max-width: $screen-tablet) {
        visibility: hidden;
        width: 0;
        height: 0;
        opacity: 0;
        background: url("../images/bg_pattern_blue.svg") no-repeat 50% 50% / cover;
      }
      li {
        padding-top: 62px;
        margin-left: 39px;
        border-top: 4px transparent solid;
        a {
          font-size: 13px;
          font-weight: 600;
          letter-spacing: 0.4px;
          text-transform: uppercase;
          color: $clr-white;
          display: inline-block;
          padding: 8px 0;
          transition: all 0.5s ease-out 0.9s;
        }
        &:nth-child(2) a {
          transition-delay: 1s;
        }
        &:nth-child(3) a {
          transition-delay: 1.1s;
        }
        &:nth-child(4) a {
          transition-delay: 1.2s;
        }
        &:nth-child(5) a {
          transition-delay: 1.3s;
        }
        &:nth-child(6) a {
          transition-delay: 1.4s;
        }
        &.active {
          border-color: $clr-white;
          a {
            cursor: default;
            font-weight: bold !important;
            color: $clr-pinkish-grey;
            pointer-events: none;
          }
        }
      }
    }
  }
  .menu-caller {
    display: none;
    @media (max-width: $screen-tablet) {
      display: block;
      width: 50px;
      height: 50px;
      position: relative;
      cursor: pointer;
      margin-top: -4px;
      z-index: 999;
      i {
        position: absolute;
        right: 12px;
        display: block;
        width: 25px;
        height: 2px;
        background-color: $clr-white;
        &:first-child {
          top: 17px;
        }
        &:nth-child(2) {
          top: 24px;
          opacity: 1;
          transition: opacity 0.2s 0.4s;
        }
        &:nth-child(3) {
          top: 31px;
        }
        &:first-child,
        &:nth-child(3) {
          transition: transform 0.2s, top 0.2s 0.2s;
        }
      }
    }
  }
}

@media (max-width: $screen-tablet) {
  .mobile-menu {
    height: 100%;
    overflow: hidden;
    header {
      .menu-caller i {
        &:first-child {
          transform: rotate(45deg);
          top: 24px;
        }
        &:nth-child(2) {
          transition: opacity 0.2s;
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
          top: 24px;
        }
        &:first-child,
        &:nth-child(3) {
          transition: transform 0.2s 0.2s, top 0.2s 0.2s;
        }
      }
      .logo {
        position: relative;
        z-index: 999;
        img {
          &:first-child {
            display: none;
          }
          &:last-child {
            display: block;
          }
        }
      }
      nav ul {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        //background-color: rgba(58, 79, 125, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        visibility: visible;
        opacity: 1;
        z-index: 998;
        transition: opacity 0.2s ease-out;
        li {
          margin: 0;
          padding: 0;
          border-top: none;
          position: relative;
          a {
            display: block;
            font-size: 15px;
            font-weight: 500;
            letter-spacing: normal;
            line-height: 1.5;
            padding: 14px 20px;
            transition: none;
            @media (orientation: landscape) {
              font-size: 13px;
              padding: 8px 20px;
            }
            @media (max-width: 480px) and (orientation: landscape) {
              padding: 5px 20px;
            }
          }
          &.active:after {
            content: "";
            display: block;
            width: 4px;
            height: 33px;
            background-color: $clr-pinkish-grey;
            position: absolute;
            right: 0;
            top: 8px;
            @media (orientation: landscape) {
              top: 1px;
            }
          }
          &.contact-lnk {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            &:after {
              display: none;
            }
            a {
              color: $clr-white;
              font-weight: 500 !important;
              padding: 0;
              text-align: center;
              margin: 0 20px 22px;
              height: 56px;
              line-height: 54px;
              border-radius: 4px;
              border: 2px $clr-white solid;
              @media (orientation: landscape) {
                height: 36px;
                line-height: 34px;
                border-width: 1px;
                margin-bottom: 12px;
              }
            }
          }
        }
      }
    }
    .header-block .txt-block {
      z-index: auto;
    }
  }
}