.header-block {
  display: flex;
  align-items: center;
  height: 722px;
  background-color: #cad8e3;
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 187px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
    background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
  }
  .txt-block {
    padding-top: 12px;
    color: $clr-white;
    h1 {
      font-size: 50px;
      font-weight: 900;
      span {
        font-weight: 600;
      }
    }
    p {
      width: 640px;
      font-size: 20px;
      line-height: 1.5;
      padding-top: 17px;
    }
  }
}

.intro-block {
  width: 875px;
  padding: 58px 81px 51px 69px;
  background-color: $clr-white;
  font-size: 18px;
  font-weight: 300;
  line-height: 2;
  color: $clr-denim;
  box-shadow: 0 2px 49px 0 rgba(0, 0, 0, 0.1);
  margin: -145px 0 118px 0;
  position: relative;
}

.accomodation {
  display: flex;
  justify-content: space-between;
  & > div {
    width: 330px;
    min-height: 544px;
    padding: 121px 38px 40px;
    background-color: #f8f6f7;
    position: relative;
  }
  ins {
    display: block;
    text-decoration: none;
    position: absolute;
    left: -15px;
    top: 6px;
    font-size: 150px;
    font-weight: 800;
    color: $clr-white;
    letter-spacing: 5px;
  }
  .heading {
    display: block;
    font-size: 36px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.3px;
    color: $clr-denim;
    min-height: 120px;
    margin-bottom: 31px;
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 1px;
      height: 84px;
      position: absolute;
      top: 10px;
      left: -38px;
      background-color: #cdbfab;
    }
    strong {
      display: block;
      font-weight: 600;
    }
  }
  p {
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: -0.3px;
  }
}

.accomodation-banner {
  background-color: #556479;
  margin: -72px 0 213px;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 358px;
    position: relative;
  }
  p {
    margin-top: 46px;
    font-size: 19px;
    font-weight: 800;
    line-height: 2.42;
    letter-spacing: 2.1px;
    color: #f8f9ff;
    text-transform: uppercase;
  }
  .btn {
    min-width: 226px;
    position: absolute;
    bottom: -30px;
  }
}

.why-section {
  background-color: $clr-white-two;
  padding: 85px 0 403px;
  margin-bottom: 139px;
  .accomodation {
    & > div {
      min-height: 518px;
      padding-bottom: 70px;
      background-color: $clr-white;
    }
    ins {
      color: $clr-white-two;
    }
    .view-more {
      position: absolute;
      bottom: 25px;
    }
  }
}

.history-section {
  background-color: $clr-white-two;
  min-height: 398px;
  padding: 77px 0 85px 59px;
  margin-bottom: 72px;
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 2px;
    height: 90px;
    background-color: #e0d8ce;
    position: absolute;
    left: 0;
  }
  h4 {
    position: absolute;
    top: -28px;
    left: -27px;
    font-size: 40px;
    font-weight: 300;
    color: $clr-denim;
    margin: 0;
  }
  .view-more {
    position: absolute;
    bottom: 35px;
  }
  .txt-block {
    width: 504px;
    p {
      font-weight: 500;
      line-height: 1.6;
    }
  }
  .img-block {
    width: 549px;
    height: 373px;
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
    position: absolute;
    right: -110px;
    bottom: -50px;
    background-color: $clr-white;
  }
}

.contact-section {
  margin-bottom: 145px;
  .contact-info {
    display: none;
  }
}