.hp-slider {
  padding-top: 83px;
  margin-bottom: 80px;
  position: relative;
  @media (max-width: $screen-tablet) {
    padding-top: 54px;
    margin-bottom: 94px;
  }
  .slider-controls {
    height: 83px;
    padding-left: 43px;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 30px;
    @media (max-width: $screen-desktop) {
      padding-left: 90px;
    }
    @media (max-width: $screen-tablet) {
      height: 54px;
      padding-left: 15px;
    }
    .slider-control {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      cursor: pointer;
      i {
        display: block;
        font-style: normal;
        position: relative;
        background-color: #e2dbd1;
        width: 30px;
        height: 2px;
        &:before, &:after {
          display: block;
          content: "";
          position: absolute;
          left: 0;
          background-color: #d0c4b1;
          width: 14px;
          height: 1px;
          transform-origin: 0 0;
        }
        &:before {
          transform: rotate(-40deg);
        }
        &:after {
          transform: rotate(40deg);
        }
      }
      &.hp-slider-next {
        transform: rotate(180deg);
        margin-left: 32px;
        @media (max-width: $screen-tablet) {
          margin-left: 2px;
        }
      }
    }
  }
  .count {
    position: absolute;
    left: -85px;
    color: $clr-charcoal-grey;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1.5px;
    bottom: auto;
    width: auto;
    @media (max-width: 1339px) {
      left: -43px;
    }
    @media (max-width: $screen-desktop) {
      left: 20px;
    }
    @media (max-width: $screen-tablet) {
      left: -48px;
    }
  }
  .grey-bg {
    width: 100%;
    height: 777px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: $clr-white-two;
    @media (max-width: $screen-tablet) {
      height: 532px;
      width: calc(100% - 42px) !important;
      right: -20px;
    }
  }
  .swiper-container {
    position: relative;
    overflow: visible;
  }
  .photo-block {
    height: 597px;
    color: $clr-charcoal-grey;
    font-size: 50px;
    font-weight: 300;
    line-height: 0.92;
    background-size: cover;
    background-position: 50% 0;
    background-color: #93a1b3;
    @media (max-width: $screen-tablet) {
      height: 251px;
      font-size: 24px;
      line-height: 1;
      color: $clr-white;
      width: calc(100% - 20px) !important;
      position: relative;
      margin-bottom: 127px;
      background-position: 50% 50%;
    }
    & > .wrapper {
      float: right;
      margin: 0;
      padding-top: 86px;
      @media (max-width: $screen-tablet) {
        float: none;
        height: 100%;
        padding-top: 27px;
      }
      & > div {
        width: 500px;
        @media (max-width: $screen-desktop) {
          width: 400px;
        }
        @media (max-width: $screen-tablet) {
          width: auto;
        }
      }
    }
    .heading {
      display: block;
      font-size: 18px;
      font-weight: bold;
      line-height: 2.56;
      letter-spacing: 2px;
      color: $clr-white;
      text-transform: uppercase;
      @media (max-width: $screen-tablet) {
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 1.3px;
      }
    }
  }
  .inner-photo {
    position: absolute;
    right: -30px;
    top: 130px;
    width: 610px;
    height: 343px;
    transition: all 0.3s ease-out;
    @media (max-width: $screen-desktop) {
      width: 510px;
      height: 310px;
      right: 0;
      top: 144px;
    }
    @media (max-width: $screen-tablet) {
      right: -20px;
      top: calc(100% - 39px);
      width: 237px;
      height: 133px;
    }
    img {
      width: 100%;
      height: 100%;
      box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.25);
      @media (max-width: $screen-tablet) {
        box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.25);
      }
    }
    .loupe {
      display: block;
      width: 54px;
      height: 54px;
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -27px 0 0 -27px;
      border-radius: 100%;
      text-align: center;
      cursor: pointer;
      i {
        position: relative;
        top: 19px;
        left: -1px;
        display: block;
        margin: 0 auto;
        border-radius: 100%;
        height: 15px;
        width: 15px;
        border: 2px solid $clr-white;
        &:after {
          content: "";
          height: 2px;
          width: 8px;
          background: $clr-white;
          position: absolute;
          top: 12px;
          left: 9px;
          transform: rotate(45deg);
        }
      }
    }
  }
  .swiper-slide-zoomed {
    cursor: zoom-out;
    .inner-photo {
      right: 50%;
      transform: translateX(50%) !important;
      @media (max-width: $screen-tablet) {
        top: 165px;
      }
      img {
        box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.5);
      }
      .loupe i:before {
        content: "";
        height: 1px;
        width: 5px;
        background: $clr-white;
        position: absolute;
        left: 3px;
        top: 5px;
      }
    }
  }
  .address-block {
    height: 97px;
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.6;
    color: $clr-denim;
    padding: 0 43px;
    @media (max-width: $screen-tablet) {
      height: auto;
      display: block;
      padding: 0;
    }
  }
  .descr-block {
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    @media (max-width: $screen-tablet) {
      padding-top: 22px;
      display: block;
      background: transparent;
    }
    .txt-block {
      width: 440px;
      font-weight: 500;
      line-height: 1.6;
      @media (max-width: $screen-tablet) {
        width: auto;
      }
    }
    .btns {
      margin: 32px 105px 0 0;
      @media (max-width: $screen-tablet) {
        margin: 42px auto 0;
        width: 200px;
      }
      .btn {
        display: block;
      }
    }
  }
  &.pic-zoom {
    cursor: zoom-out;
  }
}