// Fonts.
$font: Arial, Helvetica, sans-serif;
$font-size: 16px;

// Colors.
$clr-font: #181818;
$clr-white: #ffffff;
$clr-black: #000000;

// Liquid layout:
$screen-mobile: 767px;
$screen-tablet: 991px;
$screen-desktop: 1199px;