// Fonts.
$font: 'Montserrat', sans-serif;
$font-size: 15px;

// Colors.
$clr-font: #9498ab;
$clr-white: #ffffff;
$clr-black: #333333;
$clr-denim: #3a4f7d;
$clr-beige-two: #ebe0d1;
$clr-white-two: #f8f7f7;
$clr-pinkish-grey: #cdbfab;
$clr-rouge: #c01c2f;
$clr-charcoal-grey: #2d303d;

// Liquid layout:
$screen-mobile: 767px;
$screen-tablet: 991px;
$screen-desktop: 1199px;